<h1><%= @topic.title %></h1>

<% if @topic.user == current_user %>
  <p><%= link_to "Edit", edit_topic_path(@topic) %> | <%= link_to "Delete", topic_path(@topic), method: :delete, data: { confirm: "Are your sure?" } %></p>
<% end %>
